<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>

  <mat-form-field class="example-full-width">
    <mat-label>Company</mat-label>
    <input matInput [(ngModel)]="user.company">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput placeholder="Dieter" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Hallervorden" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
        </mat-form-field></td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" [(ngModel)]="user.address"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco" [(ngModel)]="user.city">
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California" [(ngModel)]="user.state">
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" [(ngModel)]="user.postalCode">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
            [(ngModel)]="user.email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234" [(ngModel)]="user.telephone">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field></td>
    </tr>
  </table>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close="">Cancel</button>
    <button mat-button [mat-dialog-close]="" (click)="saveUser()" cdkFocusInitial>Save</button>
  </div>

</div>