.add-user-button {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
}

mat-card {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.25rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    gap: 1rem;
    overflow: hidden;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.light-font {
    color: #999;
}

.hover {
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.delete-message {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 75px);
}

@media screen and (max-width: 600px) {
    .add-user-button {
        right: 1rem;
        bottom: 1rem;
    }
}