<mat-card>
    <mat-card-content>
        <div class="grid light-font">
            <div>First Name</div>
            <div>Last Name</div>
            <div>Email</div>
            <div>Company</div>
            <div>City</div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngFor="let user of users" class="hover" [routerLink]="['/user/' + user.userId]">
    <mat-card-content>
        <div class="grid">
            <div class="grey overflow">{{user.firstName}}</div>
            <div class="grey overflow">{{user.lastName}}</div>
            <div class="blue overflow">{{user.email}}</div>
            <div class="green overflow">{{user.company}}</div>
            <div class="orange overflow">{{user.city}}</div>
        </div>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab matTooltip="Add user" matTooltipPosition="above"
    matTooltipHideDelay="225" color="primary" aria-label="FAB icon for adding user">
    <mat-icon>add</mat-icon>
</button>